@{
    ViewData["Title"] = "Home Page";
    ViewData["Text"] = "Test viewData";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Test text</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br />
<div class="text-left">
    <h1>Test div. @ViewData["Text"]</h1>
    <p>ref login</p>
    <a href="~/Views/Login.cshtml"> REFERENCE</a>

</div>
