@page
<form id="f1" method="post" enctype="multipart/form-data" class="form-group" asp-action="Add" asp-controller="Post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <br />
            <br />
            <span class="input-group-text" id="basic-addon1">Title</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1" id="title" name="title" value="title">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">With textarea</span>
        </div>
        <textarea class="form-control" aria-label="With textarea" name=text id=text></textarea>
    </div>
    <input class="m-3 btn btn-outline-primary" type="submit" id="submit" value="Add it!" />
</form>